# Virtual environment
venv/
env/
.venv/

# Environment variables — JANGAN DI-COMMIT!
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/
